.social {
    display: flex;
    justify-content: center;
    
    @include breakpoint($tablet-bp) {
        display: none;
    }
}

.social__item {
    margin: 0 .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border: 1px solid #e8ecee;
    transition: background 0.2s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: $black;
}

.social__icon {
    display: block;
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    fill: #c6cacc;
    transition: fill 0.5s linear;
}