<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="close">
        </button>
        <form class="form" action="/" method="post">
            <div class="form__group form__group--md">
                <input class="form__control" type="text" placeholder="Your name">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <input class="form__control" type="email" placeholder="Your email">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="Type your message"></textarea>
                <span class="form__line"></span>
            </div>
            <div class="form__footer form__footer--center form__footer--mtb2">
                <button class="btn btn--mint btn--small" type="submit">Send</button>
            </div>
        </form>
        <ul class="modal__footer">
            <li>
                e-mail: 
                <ul>
                    <li>
                        <a href="mailto:0ksTem@gmail.com">0ksTem@gmail.com</a>
                    </li>
                </ul>
            </li>
            <li>
                phone number: 
                <ul>
                    <li>
                        <a href="tel:+79999272507">+7-999-927-25-07</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div><!--/.modal__content-->
</div><!--/.modal-->