<!DOCTYPE html>
<html lang="en">
<head>
    {{> head-post }}
</head>
<body class=""><!--<.show-sidebar / .no-scroll>(default.html)-->
    <div class="page" id="page">
        {{> header-post }}
        {{> sidebar-post }}
        <main class="main main--post">
            <div class="container container--post">
            {{> body }}
            </div>
        </main>
    </div>
    {{> story-modal }}
    {{> contact-modal }}
    {{> share-modal }}
    <script src="../../js/app.js"></script>
</body>
</html>
